In [3]:
print('hola mundo')

hola mundo

In [5]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [6]:
s = slice(1, 4)
s

slice(1, 4, None)

In [7]:
a[1:4]

[2, 3, 4]

In [8]:
a[s]

[2, 3, 4]

In [10]:
a

[1, 2, 3, 4, 5]

In [12]:
b = (1,2,3)
b, type(b)

((1, 2, 3), tuple)

In [13]:
b = 1,2,3
b, type(b)

((1, 2, 3), tuple)

In [15]:
a = 1,
a, type(a)

((1,), tuple)

In [16]:
a = [10,20,30,40]
b,c,d,e = a

In [17]:
b, type(b)

(10, int)

In [19]:
a = 10 
b = 5
print(a,b)
a,b = b,a
print(a,b)

10 5
5 10

In [20]:
my_set = {'p', 'y', 't', 'h', 'o', 'n'}
a ,b ,c ,d ,e ,f = my_set
my_set

{'h', 'n', 'o', 'p', 't', 'y'}

In [21]:
c = [10, 20, 30, 40]
a, *b = c
a, b

(10, [20, 30, 40])

In [22]:
def my_fun(a,b,c):
    print(a+2, b**3, c//4)

valores = 20, 50, 210
valores

(20, 50, 210)

In [23]:
my_fun(valores) #MAL FALTAN VALORES

TypeError: my_fun() missing 2 required positional arguments: 'b' and 'c'

In [25]:
my_fun(*valores) #USO DEL * PARA PASAR EL VECTOR ENTERO

22 125000 52

In [26]:
s = slice(1,4)
longitud = 3
s.indices(longitud)

(1, 3, 1)